<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <title>Login page</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <h2>user dashboard</h2>
                <p><b>Name: </b>{{user.name}}</p>
                <p><b>Email: </b>{{user.email}}</p>
                <a href="/logout" class="btn btn-dark">Logout</a>
            </div>
        </div>
    </div>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/index.js"></script>
    <script src="static/js/popper.min.js"></script>

</body>
</html>